[Unit]
Description=Shared /cluster folder using sshfs
Requires=vcc-keys.service
After=vcc-wait4deps.service
Before=vcc-register.service
ConditionPathExists=/run/vccservice-workernode

[Service]
Type=forking
Restart=always
RestartSec=5
StartLimitIntervalSec=10
StartLimitBurst=3
ExecStart=/usr/bin/sshfs root@headnode:/home /home -o nonempty,allow_other
ExecStop=/usr/bin/umount /home

[Install]
RequiredBy=vcc-services.target
WantedBy=multi-user.target
