[Unit]
Description=Shared /cluster folder using sshfs
Requires=vcc-keys.service
After=vcc-wait4deps.service
Before=vcc-register.service
ConditionPathExists=/run/vccservice-workernode

[Service]
Type=forking
ExecStart=/usr/bin/sshfs root@headnode:/cluster /cluster -o nonempty
ExecStop=/usr/bin/umount /cluster

[Install]
RequiredBy=vcc-services.target
WantedBy=multi-user.target
